@font-face {
  font-family: 'SamsungSharpSansBold';
  src: url('fonts/SamsungSharpSans-Bold.woff2') format('woff2'), url('./fonts/SamsungSharpSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOne450';
  src: url('fonts/SamsungOne-450.woff2') format('woff2'), url('./fonts/SamsungOne-450.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOne300C';
  src: url('fonts/SamsungOne-300C.woff2') format('woff2'), url('./fonts/SamsungOne-300C.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOneMedium';
  src: url('fonts/SamsungSharpSans-Medium.woff2') format('woff2'), url('./fonts/SamsungSharpSans-Medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SamsungOne450';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.nomargin {
  margin: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

::-moz-selection {
  color: #ffffff;
  background: #B8476F;
}

::selection {
  color: #ffffff;
  background: #B8476F;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

